@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-abril: 'Abril Fatface', cursive;
  --color-bg: #191919;
  --color-white: #FFFFFF;
  --color-secondary:  #E8DA54;
  --color-blue: #155B82;
  --color-grey: #F5F5F5;
  --color-black: #212121;
  --color-navBg: #1E1E20;
}

:root {
  --bg: #191919;
  --white: #FFFFFF;
  --font-poppins: 'Poppins', sans-serif;
  --font-abril: 'Abril Fatface', cursive;
}

body {
  font-family: var(--font-poppins);
  background-color: var(--bg);
  color: var(--white);
}


